[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pep8 = "*"
autopep8 = "*"
flake8 = "*"
pycodestyle = "*"

[packages]
requests = "*"
bs4 = "*"
twilio = "*"
click = "*"

[requires]
python_version = "3.10"
